# --- Artefatos do Maven ---
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.nextSnapshot
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# --- IDEs (Pode ignorar sem medo, o pom.xml reconstrói tudo) ---
.settings/
.project
.classpath
.factorypath
.idea/
*.iml
.vscode/

# --- Logs e Temporários do Tomcat ---
*.log
.metadata/